<section class="rounded-xl w-full h-auto bg-neutral-100 ">
    <div class="text-center font-bold text-xl text-orange-500  pt-5">
      NOSSOS SERVIÇOS
    </div>

  <div class="grid grid-cols-1 md:grid-cols-3 text-center gap-3 p-2 mt-5">
    <div>
      <div class="flex flex-col justify-center items-center text-center">
        <div
          class="rounded-full bg-orange-300 hover:bg-orange-200 w-44 h-44 flex justify-center items-center"
        >
          <img src="assets/icons/jaleco.png" alt="" class="w-32 h-auto" />
        </div>
        <div class="font-bold mt-2 text-lg">Scrubs e Jalecos</div>
      </div>

      <div class="border-2 border-orange-300 rounded-xl p-4 mt-10">
        Uniformes feitos para unir conforto, elegância e identidade. Cada modelo
        é desenvolvido com atenção aos detalhes, valorizando o estilo e a rotina
        de quem veste.
      </div>
    </div>

    <div class="mb-10">
      <div class="flex flex-col justify-center items-center text-center">
        <div
          class="rounded-full bg-orange-300 hover:bg-orange-200 w-44 h-44 flex justify-center items-center"
        >
          <img src="assets/icons/terno.png" alt="" class="w-36 h-auto" />
        </div>
        <div class="font-bold mt-2 text-lg">Uniformes Corporativos</div>
      </div>

      <div class="border-2 border-orange-300 rounded-xl p-4 mt-10">
        Fortaleça a imagem da sua empresa com uniformes que traduzem
        profissionalismo e presença. Design, qualidade e identidade alinhados
        para destacar sua marca.
      </div>
    </div>

    <div>
      <div class="flex flex-col justify-center items-center text-center">
        <div
          class="rounded-full  bg-orange-300 hover:bg-orange-200 w-44 h-44 flex justify-center items-center"
        >
        <img src="assets/icons/atendimento.png" alt="" class="w-36 h-auto" />
        </div>
        <div class="font-bold mt-2 text-lg">Atendimento Exclusivo</div>
      </div>

      <div class="border-2 border-orange-300 rounded-xl p-4 mt-10">
        Aqui, cada cliente é único. Oferecemos consultoria personalizada para
        identificarmos uniformes que representam a essência e os valores da sua
        marca.
      </div>
    </div>
  </div>
</section>
