<section
  class="w-full h-auto bg-gradient-to-t from-orange-300 via-orange-200 to-orange-100 text-orange-600"
>
  <div class="text-center font-bold text-xl pt-5">
    QUEM SOMOS
  </div>

  <div class="grid grid-cols-2">
    <div class="rounded p-5 mt-10 text-justify mx-auto max-w-[85%] pt-10">
      Por trás de cada detalhe, existe um time que ama o que faz. Somos movidos
      pelo propósito de transformar uniformes em experiências que inspiram
      confiança, destacam histórias e elevam a identidade de cada marca. Aqui,
      cada peça nasce do cuidado, da escuta e da vontade de entregar o melhor.
      Porque quando o time veste propósito, o resultado aparece em cada costura.
    </div>

    <div
      class="text-center flex flex-col items-center justify-center p-4 rounded mb-10"
    >
      <img
        src="assets/renata.jpg"
        alt="Foto"
        class="w-80 h-80 rounded-full object-cover mb-2"
      />
      <p class="font-semibold text-orange-600 text-xl">
        Fundadora - Renata Firmino
      </p>
      <div class="gap-2 flex items-center justify-center">
        <a
          href="https://www.instagram.com/reenatafirminoo"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2"
        >
          <img src="assets/insta-icon2.png" alt="Instagram" class="w-6 h-6" />

          <span>&#64;reenatafirminoo</span>
        </a>
      </div>
    </div>
  </div>
</section>
