<section class="w-full h-full bg-white">
  <div>
    <div class="text-center font-bold text-orange-500 text-xl pt-5">DEPOIMENTOS</div>
  </div>

  <div>
    <p
      class="bg-neutral-200 text-center mt-5 hover:bg-orange-400 hover:text-white text-sm md:text-lg"
    >
      QUEM VESTE RENATA SCRUBS <br />
      Sente a diferença no conforto, na elegância e na experiência. <br />
    </p>

    <p class="text-orange-600 font-bold text-2xl text-center mt-10 mb-20">
      O que os clientes dizem
    </p>
  </div>

  <!-- Container normal (desktop) -->
  <div class="hidden max-[414px]:hidden gap-10 justify-center mt-2 mb-2 md:flex ">
    <!--<img src="assets/testimonials1.png" alt="testimonials1" class="h-96 rounded-xl border-2 border-orange-500 mb-2"/>
  <img src="assets/testimonials2.png" alt="testimonials2" class="h-72 rounded-xl border-2 border-orange-500 mt-12"/>
  <img src="assets/testimonials3.png" alt="testimonials3" class="h-80 rounded-xl border-2 border-orange-500 mt-8"/>-->

    <div class=" w-56 h-auto text-center">
      <img
        src="assets/depoimentos1.png"
        alt=""
        class="rounded-full h-36 w-36 mx-auto mt-1"
      />

      <p class="text mt-2 bg-neutral-200 rounded-xl p-2">
        " Adorei o Jaleco, super confortável, lindíssimo e prático de vestir.  " <br>
        <span class=" text-orange-600 font-bold">Maria Helena</span>
      </p>
    </div>

    <div class=" w-56 h-auto text-center">
      <img
        src="assets/depoimentos2.png"
        alt=""
        class="rounded-full h-36 w-36 mx-auto mt-1"
      />

      <p class="text-sm mt-2 bg-neutral-200 rounded-xl p-2">
        " Renata, obrigada pelo atendimento impecável! Estou apaixonada por meus scrubs, são tão lindos. Virei fã. " <br>
        <span class="text-orange-600 font-bold">Alexya</span>
      </p>

    </div>

    <div class=" w-56 h-auto  text-center">
      <img
        src="assets/depoimentos3.png"
        alt=""
        class="rounded-full h-36 w-36 mx-auto mt-1"
      />

      <p class="text-sm mt-2 bg-neutral-200 rounded-xl p-2">
        " Renata, boa tarde!! Amei o pijama, muito confortável e toda vez que o
        uso super elogiam e perguntam de onde é. " <br>
        <span class="text-orange-600 font-bold">Clarysse</span>
      </p>


    </div>
  </div>

  <!-- CARROSSEL SOMENTE NO MOBILE -->
  <div
    class="flex md:hidden max-[414px]:flex overflow-x-auto snap-x snap-mandatory gap-5 px-4 mt-5 no-scrollbar"
  >
    <div
      class="snap-center flex-shrink-0 bg-white w-56 h-56 rounded-2xl text-center"
    >
      <img
        src="assets/depoimentos1.png"
        alt=""
        class="rounded-full h-24 w-24 mx-auto mt-2"
      />
      <p class="mt-2 text-sm px-2">
        " Adorei o Jaleco, super confortável, lindíssimo e prático de vestir. "
      </p>
      <p class="mt-3 text-orange-600 font-bold">Maria Helena</p>
    </div>

    <div
      class="snap-center flex-shrink-0 bg-white w-56 h-56 rounded-2xl text-center"
    >
      <img
        src="assets/depoimentos2.png"
        alt=""
        class="rounded-full h-24 w-24 mx-auto mt-2 p-2"
      />
      <p class="mt-2 text-sm px-2">
        " Renata, obrigada pelo atendimento impecável! Estou apaixonada por meus scrubs, são tão lindos. Virei fã. "
      </p>
      <p class="mt-3 text-orange-600 font-bold">Alexya</p>
    </div>

    <div
      class="snap-center flex-shrink-0 bg-white w-56 h-56 rounded-2xl text-center"
    >
      <img
        src="assets/depoimentos3.png"
        alt=""
        class="rounded-full h-24 w-24 mx-auto mt-2"
      />
      <p class="mt-2 text-sm px-2">
        " Renata, boa tarde!! Amei o pijama, muito confortável e toda vez que o
        uso super elogiam e perguntam de onde é. "
      </p>
      <p class="mt-3 text-orange-600 font-bold">Clarysse</p>
    </div>
  </div>

  <div class="h-20 flex items-center justify-center mt-20 p-4">
    <p
      class="text-center text-orange-600 hover:text-orange-600 text-sm md:text-lg"
    >
      Da escolha do tecido ao acabamento final, cada etapa é pensada para
      refletir a identidade da sua marca com qualidade e propósito.
    </p>
  </div>

  <div></div>

  <div></div>
</section>
