<section class="bg-neutral-100 w-full hidden md:block">

  <div class="h-20 flex gap-7 items-center justify-center font-bold shadow-md shadow-gray-300">
    <a   href="https://wa.me/558296285774?text=Olá,%20vim%20do%20site%20Renata%20Scrubs%20e%20gostaria%20de%20ver%20o%20catálogo%20de%20SCRUBS%20FEMININOS"
    target="_blank" class="hover:text-orange-500">SCRUBS FEMININO</a>

    <a   href="https://wa.me/558296285774?text=Olá,%20vim%20do%20site%20Renata%20Scrubs%20e%20gostaria%20de%20ver%20o%20catálogo%20de%20SCRUBS%20MASCULINOS"
    target="_blank" class="hover:text-orange-500">SCRUBS MASCULINOS</a>

    <a   href="https://wa.me/558296285774?text=Olá,%20vim%20do%20site%20Renata%20Scrubs%20e%20gostaria%20de%20ver%20o%20catálogo%20de%20JALECOS"
    target="_blank" class="hover:text-orange-500">JALECOS</a>

    <a   href="https://wa.me/558296285774?text=Olá,%20vim%20do%20site%20Renata%20Scrubs%20e%20gostaria%20de%20ver%20o%20catálogo%20de%20PLUS%20SIZE"
    target="_blank" class="hover:text-orange-500">PLUS SIZE</a>

    <a   href="https://wa.me/558296285774?text=Olá,%20vim%20do%20site%20Renata%20Scrubs%20e%20gostaria%20de%20ver%20o%20catálogo%20PARA%20EMPRESAS"
    target="_blank" class="hover:text-orange-500">PARA EMPRESAS</a>
  </div>

</section>
