<section class="bg-white w-full">
  <!-- HERO / TÍTULO -->
  <header class="text-center py-16 px-6">
    <h1 class="font-assinatura text-black text-6xl md:text-8xl">
      Renata Firmino
    </h1>
    <div class="gap-2 flex items-center justify-center">
      <a
        href="https://www.instagram.com/reenatafirminoo"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2"
      >
        <img
          src="assets/insta-icon.png"
          alt="Instagram"
          class="w-6 h-6"
        />

        <span>&#64;reenatafirminoo</span>
      </a>
    </div>

  </header>

  <!-- IMAGEM HERO -->
  <div>
    <img
      src="assets/renata-bg.jpg"
      alt="Consultoria de imagem"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- CONTEÚDO -->
  <div class="max-w-6xl mx-auto px-6 py-16 space-y-16">
    <!-- CARD 1 -->
    <div
      class="bg-orange-100 rounded-2xl p-8 md:flex md:items-center md:gap-10"
    >
      <video
        #video
        class="w-full md:w-64 rounded-xl mb-6 md:mb-0"
        src="assets/video1.mov"
        autoplay
        loop
        playsinline
      ></video>

      <div class="space-y-4 text-xl justify-normal">
        <p class="text-gray-700 leading-relaxed">
          Mais do que escolher peças, ajudo você a definir a imagem profissional
          da sua empresa, alinhando conforto, identidade e funcionalidade.
        </p>

        <p class="text-gray-700 leading-relaxed">
          Durante a consultoria, você terá acesso a modelos exclusivos já
          disponíveis, pensados para diferentes segmentos.
        </p>

        <ul class="space-y-2 text-gray-700">
          <li>✔ Atendimento personalizado</li>
          <li>✔ Apresentação de modelos disponíveis</li>
          <li>✔ Orientação sobre tecidos e caimento</li>
          <li>✔ Indicação conforme a identidade da empresa</li>
          <li>✔ Praticidade na tomada de decisão</li>
        </ul>
      </div>
    </div>

    <div class="text-center text-2xl">
      A consultoria é ideal para empresas que <br />
      valorizam a imagem, padronização e profissionalismo.
    </div>

    <!-- CARD 2 -->
    <div
      class="items-center justify-center rounded-2xl md:flex md:items-center md:gap-10"
    >
      <video
        class="w-full md:w-64 rounded-xl mb-6 md:mb-0 items-center justify-center"
        src="assets/video2.mp4"
        autoplay
        loop
        playsinline
      ></video>
    </div>
  </div>

  <!-- CTA -->
  <footer class="text-center px-6 py-16 bg-neutral-50">
    <p class="text-gray-700 font-medium">Taxa de deslocamento: R$ 50,00</p>
    <p class="text-gray-500 text-sm mt-1">
      Valor referente ao atendimento presencial e deslocamento da consultoria
    </p>

    <a
      href="https://wa.me/558296285774?text=Olá!%20Quero%20agendar%20uma%20consultoria."
      target="_blank"
      class="mt-10 inline-block bg-black text-white px-8 py-3 rounded-full text-lg hover:bg-gray-800 transition shadow-2xl shadow-black"
    >
      Agendar minha consultoria
    </a>
  </footer>
</section>
